@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monserrat';
  font-weight: 200;
  src: url('../public/Montserrat.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family:  'Monserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
#__next {
  height: 100%;
}
* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
body {
  color: rgb(0, 0, 0);
  height: 100%;
  background: rgb(255, 255, 255);
}
.bc-bl {
  position: absolute;
  width: 100vw;
  height: 30vh;
  z-index: 1;
}
.min-h-screen{
  background: #000;
  opacity: 0.7;
  z-index: 1;
}
.bc-bl-dn {
  position: absolute;
  width: 100vw;
  height: 30vh;
  top: 70vh;
  z-index: 1;
  transform: rotateZ(180deg);
}
header {
  max-width: 100vw;

  display: flex;
  justify-content: center;
  color: white;
}
img {
  max-height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  width: 100%;
  padding: 30px;
}
.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-left a {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 140.9%;
  color: #ffffff;
}
.li__next {
  position: relative;
  height: 20px;
  width: 0;
  border: 1px solid rgba(167, 167, 167, 0.452);
  margin: 0 15px;
}

main .mn-tx {
  max-width: 1200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .mn-tx h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 33.3046px;
  line-height: 132.9%;
  /* or 44px */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
main .mn-tx h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.9%;
  text-align: center;
  color: #ffffff;
}
main .mn-tx button {
  width: 308px;
  height: 82.57px;
  background: #ffffff;
  border-radius: 82573.7px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16.5353px;
  line-height: 140.9%;
  text-transform: uppercase;
  color: #18a032;
}

.calc {
  width: 308px;
  height: 82.57px;
  background: #ffffff;
  border-radius: 82573.7px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16.5353px;
  line-height: 140.9%;
  /* or 23px */
  text-transform: uppercase;
  color: #18a032;
}

.footer-center {
  opacity: 0;
}

.step-1p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.9%;
  color: #000000;
}
.step-1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.9%;
  color: #6d6d6d;
  margin: 10px;
}
.step-1 ul {
  position: relative;
  margin: 10px;
  font-size: 22px;
}
.pl-up {
  position: absolute;
  top: 0px;
  left: calc(100vw - 413px);
  width: 413px;
  height: 278px;
  transform: rotate(180deg);
}
.pl-dn {
  position: absolute;
  width: 413px;
  height: 278px;
  /* width: 100%; */
  /* height: 100%; */

  bottom: 0;
  left: 0;
  /* right: calc(100vw - 413px); */
}
.step-1 ul li {
  padding: 20px;
}
.step {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 49.3164px;
  line-height: 132.9%;

  /* identical to box height, or 66px */
  text-transform: uppercase;

  background: linear-gradient(
    209.62deg,
    #18a032 18.12%,
    rgba(24, 160, 50, 0) 194.31%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.step-p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140.9%;
  color: #6d6d6d;
}
.opacity-0 {
  opacity: 0;
}


